.command-log-container {
    overflow: hidden;
    position: absolute;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    background-color: #14181c;
    width: 500px;
    height: 280px;
    translate: 30px -30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    box-shadow: #00000061 0px 0px 30px 0px;
    z-index: 6000000000000;
}
.command-log-container.active {
    visibility: visible;
    opacity: 1;
}
.container-show-command-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    flex: 1;
    gap: 10px;
    overflow: auto;
    scroll-behavior: smooth;
}
.container-show-command-info::-webkit-scrollbar {
    width: 3px;
}
.container-show-command-info::-webkit-scrollbar-track {
    background: #2b2b2b;
    border-radius: 10px;
}
.container-show-command-info::-webkit-scrollbar-thumb {
    background: #6b6b6b;
    border-radius: 10px;
}
.message-command-ui {
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    font-size: 14px;
    color: var(--primary-color);
    background-color: color-mix(in srgb, var(--primary-color) 10%, transparent 90%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.message-command-ui.bot {
    color: white;
    background: #1e252b;
}
.message-command-ui.bot:hover {
    background-color: color-mix(in srgb, white 30%, transparent 70%);
}
.message-command-ui:hover {
    background-color: color-mix(in srgb, var(--primary-color) 30%, transparent 70%);
}
.input-type-command {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #14181c;
    box-sizing: border-box;
    font-size: 13px;
    color: #736f6b;
}
.bottom-bar-input-log {
    border-top: 1px solid #474d4d; 
    width: 100%;
    justify-content: space-between;
}
